ion-tab-bar {
  height: 85px;
}

ion-tab-button {
  ion-label {
    display: none;
  }

  ion-icon {
    font-size: 40px;
  }
}

ion-tab-button.tab-selected {
  ion-label {
    display: block;
    font-weight: 600;
    margin-top: 5px;
  }
}
