<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding"> Discover </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="small-mobile-hidden">
    <ion-row>
      <ion-col size="6">
        <ion-grid class="ion-no-padding">
          <app-discover-cards
            [discoverCards]="discoverCardsEven?.length < discoverCardsOdd?.length ? discoverCardsOdd : discoverCardsEven"
          ></app-discover-cards>
        </ion-grid>
      </ion-col>

      <ion-col size="6">
        <div class="balance">
          <h3>Your daily balance</h3>
          <div class="ion-text-center daily-balance">
            <ion-icon name="heart" color="tertiary"></ion-icon>
            <span>100</span>
            <ion-icon name="chatbubbles" color="secondary"></ion-icon>
            <span>5</span>
          </div>
          <p class="unlimited-likes">Wish for unlimited likes and messages?</p>
          <ion-button expand="block" shape="round"> Upgrade to Premium</ion-button>
        </div>

        <app-discover-cards
          [discoverCards]="discoverCardsEven?.length < discoverCardsOdd?.length ? discoverCardsEven : discoverCardsOdd"
        ></app-discover-cards>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="large-mobile-hidden">
    <ion-row>
      <ion-col size="12">
        <ion-grid class="ion-no-padding">
          <app-discover-cards
            [discoverCards]="discoverCardsEven?.length < discoverCardsOdd?.length ? discoverCardsOdd : discoverCardsEven"
          ></app-discover-cards>
        </ion-grid>
      </ion-col>

      <ion-col size="12">
        <div class="balance">
          <h3>Your daily balance</h3>
          <div class="ion-text-center daily-balance">
            <ion-icon name="heart" color="tertiary"></ion-icon>
            <span>100</span>
            <ion-icon name="chatbubbles" color="secondary"></ion-icon>
            <span>5</span>
          </div>
          <p class="unlimited-likes">Wish for unlimited likes and messages?</p>
          <ion-button expand="block" shape="round"> Upgrade to Premium</ion-button>
        </div>

        <app-discover-cards
          [discoverCards]="discoverCardsEven?.length < discoverCardsOdd?.length ? discoverCardsEven : discoverCardsOdd"
        ></app-discover-cards>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="wifi" color="success"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
